/*estilos universales */


/* inicio menu */
body{
    font-family: 'Macondo', cursive;
    background-color: #EFEFEF;
    color: #112B3C;

}
/* .header h1{
    padding: 20px;
    text-align: center; 
} */

.container{
    display: grid;
    grid-template-columns: 1fr 300px 300px 1fr;
    grid-template-rows: 100px 200px 2fr 1fr;
    grid-template-areas: 
    " entrada   entrada   entrada   entrada " 
    " nav  nav  nav  nav "
    " info info  fotos  fotos "
    " pie  pie  pie  pie "
    ;
  
    grid-gap: 20px;  
}
.entrada{
    grid-area: entrada;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    background-color: #112B3C;
    color: #EFEFEF; 
  
}   
.nav{
    grid-area: nav;
    background-color: #205375 ;
    
}
.info {
    grid-area: info;
    /* display: flex;
    flex-direction: column; */
}
.fotos{
    grid-area: fotos;
}

.pie{
    grid-area: pie;
}

/*titulo*/
.entrada .titulo{
    text-align: center;

}
.entrada .icono{
    float: right;

    }

img.carrito{
        width: 30px;
        height: 30px;
        
        margin-right: 30px;
        
    
    }
.buscador{
        width: 30px;
        height: 30px;
        
    }
    


#menu{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 50px;
    
    
}
 .menu-list{
     display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 20px;
    
    
 }
.menu-list a{
    text-decoration: none;
    color: white;
    
    
    
}
.menu-list a:hover{
    background-color: #EFEFEF;
    color: #112B3C;
}


 
inicio productos 
.info{
    display: flex;
    flex-direction: row;
   

}
.texto{
    background-color: #F66B0E;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;



}
 .productos-div{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
     
 }
/* inicio pie de pagina */
 
.pie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #EFEFEF;
    background-color: #112B3C;


}
.contacto img{
    width: 60px;
    height: 60px;

}
/* formulario*/

.form{
    display: flex;
    flex-direction: column;
    margin: 5px;
    
}
.cajas{
    padding-right: 70px;
    padding-bottom: 15px;
}

                                                /* responsive*/
        /*tablet*/

@media only screen and (min-width: 321px) and (max-width: 767px) {
    .container{
        display: grid;
        grid-template-areas: 
        " entrada  " 
        " nav   "
        " info  "
        " fotos "
        " pie " ;

        grid-template-columns: 100%;
        grid-template-rows: 70px 100px 1fr 2fr 1fr;
    } 

    .entrada{
        grid-area: entrada;
        display: flex;
        justify-content: space-between;

    }
    .nav{
        grid-area: nav;
        display: flex;
        justify-content: space-around;
        padding-bottom: 70px;
    }
    .nav .menu a{
        display: flex;
        justify-content: space-around;

    }
    .info{
        grid-area: info;
        display: flex;
        justify-content: stretch;
    }
    .info .texto{
        display: flex;
        justify-content: space-around;
        align-items: stretch;
    }
    .fotos{
        grid-area: fotos;
        display: flex;
        
    }
    .fotos .productos-div{
        display: flex;

        
    }
    .iconos .carrito{
        display: flex;
        justify-content: end;
    }

}


    /*celular*/

    @media only screen and (min-width: 0px) and (max-width: 320px) {
        .container{
            display: grid;
            grid-template-areas: 
            " entrada  " 
            " nav   "
            " info  "
            " fotos "
            " pie " ;
    
            grid-template-columns: 100%;
            grid-template-rows: 70px 100px 1fr 2fr 1fr;
        } 
        .entrada{
            grid-area: entrada;
            display: flex;
            justify-content: space-between;   
        }
        
        .iconos .carrito{
            text-align: end;

        }
        .nav{
            grid-area: nav;
            display: flex;
            justify-content: center;
            padding-bottom: 60px;
        }
        .info{
            grid-area: info;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
        }
        .info .texto{
            display: flex;
            justify-content: space-around;
        }
        .fotos .productos-div{
            display: flex;
            flex-direction: column;
        }
        .pie{
            grid-area: pie;
            display: flex;
            flex-wrap: wrap;
        }
     
    }
